# PLACEHOLDER: chemtrain-deploy is not yet released publicly. Once it is, pin the
# release/commit that ships it here, e.g.:
#   chemtrain[cuda12] @ git+https://github.com/tummfm/chemtrain.git@<commit-or-tag>
# See https://chemtrain.readthedocs.io/en/latest/ and https://github.com/tummfm/chemtrain
# for current status.
chemtrain[cuda12] @ git+https://github.com/tummfm/chemtrain.git@<PIN_CHEMTRAIN_DEPLOY_COMMIT>

# The MACE foundation-model export documented by chemtrain-deploy.
mace-torch==0.3.16
mace-jax @ git+https://github.com/tummfm/mace-jax.git@717a2537946146a1671cd187b9841088d5e7f6a2
openequivariance[jax]==0.6.8
openequivariance_extjax==0.6.8

# Used to read the periodic PDB and write LAMMPS data files.
ase>=3.22
